[
  {rabbit,
    [
      { tcp_listeners, [ 5672 ] },
      { ssl_listeners, [ ] },
      {loopback_users, []}
    ]
  },
  { rabbitmq_management, [
      {load_definitions, "/etc/rabbitmq/custom_definitions.json"},
      { listener, [
        { port, 15672 },
        { ssl, false }
        ]
      }
    ]
  }
].
